# Jointure entre le fichier `mutation_geomlocmt` et `filosofi` 

Le but de ce notebook est de faire le lien entre les mutations disponibles dans la table `mutation_geomlocmut` et les informations disposnibles dans la base `Filosofi`.

Les informations géographiques dans la table `mutation_geomlocmut` sont disponibles de manière ponctuelle alors que les données issues de `filosofi`sont fournies par carreaux. Dès lors, il n'existe pas de clefs directes pour joindre ces deux tables. 

Il faut au préalable pour chaque point de la table `mutation_geomlocmut` déterminer dans quel carreau il se situe. Pour se faire, on utilise les fonctions : 

- `is_point_in_poly` : vérifie si un objet `Point` appartient à un objet `Polygon`
- `get_number_poly` : pour un objet `Point` permet de récupérer l'indice de l'objet `Polygon` auquel il appartient (None sinon).
- `add_information_to_points` : permet de faire la jointure entre les tables `mutation` et `filosofi` en utilisant l'indice du `Polygon` d'appartenance du `Point`.

Ces fonctions présentent de fortes complexités : nous avons décidé de les lancer sur Google Colab (aucune donnée confidentielle n'est mobilisée ici).

## Préparation de l'espace de travail sur Google Colab

### Lien avec Google Drive

Les données ont été importées depuis Google Drive. Elles sont disponibles en cliquant [ici](https://drive.google.com/drive/folders/1ut-i30E5ZbZRzdj42B_LNRYM4eR4_XWE?usp=sharing).

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Installation de `geopandas`

In [ ]:
pip install geopandas

In [28]:
import geopandas as gpd
import pandas as pd

### Lecture de la table `mutation`

In [26]:
dossier_donnees = "/content/drive/My Drive/projet_info_Ensae"

In [29]:
mutation_geomlocmut = gpd.read_file(dossier_donnees + "/mutation/r11_mutation_geomlocmut.shp")
mutation_geomlocmut = mutation_geomlocmut.rename(columns={"IDMUTATION" : "idmutation"})
mutation_geomlocmut_wgs = mutation_geomlocmut.to_crs({'init' :'epsg:4326'}) 

mutation_brute = pd.read_csv(dossier_donnees + "/mutation/r11_mutation.csv")

code_mutation_paris = list(mutation_brute[mutation_brute["coddep"] == 75]["idmutation"])
mutation_geomlocmut_wgs_paris = mutation_geomlocmut_wgs[mutation_geomlocmut_wgs["idmutation"].isin(code_mutation_paris)]

/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

### Lecture de la table `Filosofi`

In [34]:
filosofi_paris = gpd.read_file(dossier_donnees + "filosofi/filosofi_75.shp")

In [211]:
filosofi_paris.columns

Index(['IdINSPIRE', 'Id_carr1km', 'I_est_cr', 'Id_carr_n', 'Groupe', 'Depcom',
       'I_pauv', 'Id_car2010', 'Ind', 'Men', 'Men_pauv', 'Men_1ind',
       'Men_5ind', 'Men_prop', 'Men_fmp', 'Ind_snv', 'Men_surf', 'Men_coll',
       'Men_mais', 'Log_av45', 'Log_45_70', 'Log_70_90', 'Log_ap90', 'Log_inc',
       'Log_soc', 'Ind_0_3', 'Ind_4_5', 'Ind_6_10', 'Ind_11_17', 'Ind_18_24',
       'Ind_25_39', 'Ind_40_54', 'Ind_55_64', 'Ind_65_79', 'Ind_80p',
       'Ind_inc', 'I_est_1km', 'geometry'],
      dtype='object')

## Préparation des données Filosofi

In [228]:
def recompute_data(filosofi, nom_var_zonage):
    filosofi_copie = filosofi.copy(deep = True)
    ind_par_zonage = filosofi_copie.filter(regex = "(?i)(.*(" + nom_var_zonage + "|men|log|ind|geometry).*)").groupby([nom_var_zonage]).sum() 
    #Compute proportion by age
    ind_par_zonage.loc[:,"Ind_0_3":"Ind_inc"] = ind_par_zonage.loc[:,"Ind_0_3":"Ind_inc"].apply(lambda x : 100*x /ind_par_zonage["Ind"])
    #Compute statistics on "logement"        
    nb_log = ind_par_zonage.loc[:, "Log_av45":"Log_inc"].apply(sum, axis = 1)
    ind_par_zonage.loc[:, "Log_av45":"Log_inc"] = ind_par_zonage.loc[:, "Log_av45":"Log_inc"].apply(lambda x: 100*x/nb_log) #la lambda fonction est appliquée colonne par colonne
    ind_par_zonage["Log_soc"] = 100*ind_par_zonage["Log_soc"]/nb_log
    #Compute statistics on household
    ind_par_zonage.loc[:, "Men_pauv":"Men_fmp"] = ind_par_zonage.loc[:, "Men_pauv":"Men_fmp"].apply(lambda x : 100*x / ind_par_zonage["Men"])
    ind_par_zonage.loc[:, "Men_coll":"Men_mais"] = ind_par_zonage.loc[:, "Men_coll":"Men_mais"].apply(lambda x : 100*x / ind_par_zonage["Men"])
    ind_par_zonage["nv_par_hab"] = ind_par_zonage["Ind_snv"]/ind_par_zonage["Ind"]
    ind_par_zonage["ind_par_zonage"] = ind_par_zonage["Men_surf"]/nb_log

    #Dans le cas où on n'agrège pas --> on peut ajouter l'objet Point
    if nom_var_zonage == "IdINSPIRE":
      ind_par_zonage = ind_par_zonage.merge(filosofi_copie[["IdINSPIRE", "geometry"]], on = "IdINSPIRE")
      
    return ind_par_zonage

In [231]:
filosofi_recomputed = recompute_data(filosofi_paris, "IdINSPIRE")

Association à chaque point d'un carreau

In [30]:
def is_point_in_poly(point, poly):
    return point.intersects(poly)

In [203]:
#Get the index of the poly of the point
#Return None if the point isn't in any polygon.
def get_number_poly(row_point, polys):
    point = row_point["geometry"]
    try: 
        index = list(map(lambda x : is_point_in_poly(point,x) , polys)).index(True)
        res_d = {'idmutation' : row_point["idmutation"], 'carreaux_index' : index, 'geometry' : point}
    except ValueError:
        res_d = {'idmutation' : row_point["idmutation"], 'carreaux_index' : None, 'geometry' : point}
    return res_d

In [235]:
#Tables points contient une table avec pour chaque point son idmutation (idmutation, geometry)
#polys est une table contenant les carreaux ainsi que toutes les informations liées filosfi
def add_information_to_points(tables_points, polys):
  res_temp = tables_points.apply(lambda x : get_number_poly(x, polys["geometry"]), axis = 1)
  res_temp = gpd.GeoDataFrame(res_temp.to_list())
  res = res_temp.merge(polys.drop("geometry", axis = 1), left_on = "carreaux_index", right_index = True, how = "left")
  return res

In [236]:
add_information_to_points(test_100_pts,filosofi_recomputed)

    idmutation  carreaux_index  ...    nv_par_hab ind_par_zonage
0      5454034          1832.0  ...  25609.782463      38.681914
1      5473270           917.0  ...  50577.549231      68.036585
2      5183819           571.0  ...  37578.001910      49.594629
3      5186543             NaN  ...           NaN            NaN
4      5607633           978.0  ...  41497.319257      64.694006
..         ...             ...  ...           ...            ...
95     5738514          1022.0  ...  35783.480289      47.453202
96     5316929           391.0  ...  37861.436491      57.372647
97     5859855           704.0  ...  33908.681014      49.473272
98     5334272          1584.0  ...  35657.634262      53.481450
99     5475653          1376.0  ...  40792.491637      66.986150

[100 rows x 34 columns]

In [240]:
info_mut = add_information_to_points(mutation_geomlocmut_wgs_paris, filosofi_recomputed)

In [243]:
info_mut.to_file(dossier_donnees + "/mutation/r11_mutation_geomlocmut_with_filo.shp")